body {
    background: #fffaeb;
    color: #333;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;
  }

  button {
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0d6efd;
    border: 1px solid #094093;
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  button+button {
    margin-top: 0.5rem;
  }

  .conteudo {
    padding: 0.5rem;
  }

  .dispositivo {
    margin-top: 1rem;
  }
  .dispositivo::after {
    content: "Celular?";
  }

  @media (min-width: 600px) {
    .conteudo {
      margin: 2rem auto;
      max-width: 520px;
      border: 1px solid black;
      border-radius: 0.5rem;
      padding: 1rem;
    }

    button {
      width: auto;
    }

    button+button {
      margin-top: 0;
      margin-left: 1rem;
    }

    .dispositivo::after {
      content: "Tablet?";
    }
  }

  @media (min-width: 1024px) {
    .conteudo {
      max-width: 800px;
    }

    .dispositivo::after {
      content: "Laptop?";
    }
  }

  @media (min-width: 1440px) {
    .dispositivo::after {
      content: "Desktop?";
    }
  }