:root {
  --body-bg: #c8e6ff;
  --body-fg: #094093;
  --border: #094093;
  --button-bg: #0d6efd;
  --button-border: #094093;
  --button-fg: white;
  --header-bg: #a7bfd5;
  --header-fg: #094093;
}
.escuro {
  --body-bg: #313f4a;
  --body-fg: #a7bfd5;
  --border: #212a31;
  --button-bg: #094093;
  --button-border: #062f6c;
  --header-bg: #212a31;
  --header-fg: #a7bfd5;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--body-bg);
  color: var(--body-fg);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
}

header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  background-color: var(--header-bg);
  color: var(--header-fg);
  position: sticky;
  top: 0;
}

.titulo {
  flex-grow: 1;
  font-size: 1.6rem;
}

button {
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--button-fg);
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  border-radius: 0.25rem;
  font-size: 1rem;
  flex: 0 0;
}

button+button {
  margin-top: 0.5rem;
}

.conteudo {
  padding: 0.5rem;
}

#alterna-tema {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--header-fg);
  padding: 0;
  flex-shrink: 0;
}
#nome-tema {
  margin-right: 1rem;
}
#icone-tema {
  width: 2rem;
  height: 2rem;
} 
#icone-tema svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .conteudo {
    margin: 2rem auto;
    max-width: 520px;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  button {
    width: auto;
  }

  button+button {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media (min-width: 1024px) {
  .conteudo {
    max-width: 800px;
  }
}
